In [1]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

In [2]:
# Chromedriver for Mac Users
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Set up path and browser 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#NASA Mars News TITLE

In [5]:
# Use Splinter to visit the NASA news website to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [6]:
# Iterate through pages and pull articles
for x in range(1):
    
# Create HTML object   
    html = browser.html

# Create BeautifulSoup object to parse using html.parser
    soup = bs(html, 'html.parser')

# Use classes to extract information and iterate through articles
    articles = soup.find('div', class_='grid_layout')
    article = articles.find('li', class_='slide')
    print(article)
    
# Iterate trough each news article and gather title and paragraph content
# Extract the teaser paragraph for the first article
    news_title = article.find('div', class_='content_title').text
    news_p = article.find('div', class_='article_teaser_body').text
    if news_title:
        print(f"The most current article on NASA.gov is {news_title}")
        print(f"The article {news_title}, is about {news_p}")
        break

# Click "More" button on each webpage
    try: 
        browser.click_link_by_partial_text('More')
    except:
        print("Mars News Scraping Complete")

<li class="slide"><div class="image_and_description_container"><a href="/news/8765/ai-is-helping-scientists-discover-fresh-craters-on-mars/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">It's the first time machine learning has been used to find previously unknown craters on the Red Planet.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="crater cluster on Mars" src="/system/news_items/list_view_images/8765_PIA24040-320.jpg"/></div><div class="bottom_gradient"><div><h3>AI Is Helping Scientists Discover Fresh Craters on Mars</h3></div></div></a><div class="list_text"><div class="list_date">October  1, 2020</div><div class="content_title"><a href="/news/8765/ai-is-helping-scientists-discover-fresh-craters-on-mars/" target="_self">AI Is Helping Scientists Discover Fresh Craters on Mars</a></div><div class="article_teaser_body">It's the first time machine learning has been used to find previously unknown craters on the Red Planet.</div></div></div></li>
The most current article on NASA.gov is AI Is Helping Scientists Discover Fresh Craters on Mars
The article AI Is Helping Scientists Discover Fresh Craters on Mars, is about It's the first time machine learning has been used to find previously unknown craters on the Red Planet.

In [7]:
#JPL Mars Space Images

In [8]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [9]:
# Find the full image button and click it
full_image = browser.find_by_id('full_image')
full_image.click()

In [10]:
# Find the more info button and click it
browser.is_element_present_by_text('more info', wait_time=1)
more_info = browser.links.find_by_partial_text('more info')
more_info.click()

In [12]:
# Parse the resulting html with soup
html = browser.html
soup_img = bs(html, 'html.parser')

In [13]:
# Find the relative image url
relative_url = soup_img.select_one('figure.lede a img').get("src")
relative_url

'/spaceimages/images/largesize/PIA19685_hires.jpg'

In [14]:
# Mars Facts TITLE

In [15]:
# Bring in link for Mars Facts scrape
url = 'https://space-facts.com/mars/'

In [16]:
# Use Pandas to read in facts table from the webpage defined
# Print table
table_df = pd.read_html(url)
table_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
# Save table to files and organize in dataframe
tables = table_df[0]
tables.set_index(0, inplace=True)
tables

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
# Transpose previous dataframe 
tables = tables.transpose()
tables

,Equatorial Diameter:,Polar Diameter:,Mass:,Moons:,Orbit Distance:,Orbit Period:,Surface Temperature:,First Record:,Recorded By:
1,"6,792 km","6,752 km",6.39 × 10^23 kg (0.11 Earths),2 (Phobos & Deimos),"227,943,824 km (1.38 AU)",687 days (1.9 years),-87 to -5 °C,2nd millennium BC,Egyptian astronomers

In [19]:
# Bring dataframe into html
html_table = tables.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Equatorial Diameter:</th>\n      <th>Polar Diameter:</th>\n      <th>Mass:</th>\n      <th>Moons:</th>\n      <th>Orbit Distance:</th>\n      <th>Orbit Period:</th>\n      <th>Surface Temperature:</th>\n      <th>First Record:</th>\n      <th>Recorded By:</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>6,792 km</td>\n      <td>6,752 km</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n      <td>227,943,824 km (1.38 AU)</td>\n      <td>687 days (1.9 years)</td>\n      <td>-87 to -5 °C</td>\n      <td>2nd millennium BC</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [20]:
# Mars Hemispheres TITLE

In [21]:
# Bring in Mars website to be scraped and visit URL
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [22]:
# Parse the Hemispheres html with soup
# Create BeautifulSoup object to parse using html.parser
html = browser.html
soup = bs(html, 'html.parser')

results = soup.find_all('div', class_='item')
title = []
img_url = []

# Iterate through Hemisphere pages, visit pages and pull title and image url
for result in results:
    link = "https://astrogeology.usgs.gov" + result.find('a', class_='itemLink product-item')['href']
    browser.visit(link)
    html = browser.html
    soup = bs(html, 'html.parser')
    page_result = soup.find('div', class_='container')
    
    title. append(page_result.find('h2', class_= 'title').text)
    img_url.append("https://astrogeology.usgs.gov" + page_result.find('img', class_="wide-image")['src'])
print(title, img_url)

[] []

In [23]:
# Save Hemisphere information to a dataframe
hemisphere_image_urls = pd.DataFrame({
    "title": title,
    "img_url": img_url
})
hemisphere_image_urls

Empty DataFrame
Columns: [title, img_url]
Index: []

In [24]:
hemisphere_image_urls['img_url'][0]

IndexError: index out of bounds